venv
videos
*.pth
*.pth.zip
*.mp4
output
onnxruntime
output/*.jpg
output/*.png
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.webp
*.gif
*.bmp

data/2.jpeg
data/20082a0a-795a-4419-993c-ea7816a2faa8.avif
data/3.jpeg
data/4.jpeg
data/cache/bev_cars/tooooo_02384d2642.png
data/front.jpg
data/front/tooooo.avif
data/images.jpeg
data/sides_car/*.jpeg
data/sides_car/ready/*.png
data/sides_car/ready/*.jpeg
data/truck/*.jpeg
data/truck/*.png
data/truck/ready/*.png
data/truck/ready/*.jpeg
notebooks/train_anchor3dlane_openlane1000.ipynb
scripts/build_openlane1000_notebook.py